[submodule "deps/k"]
	path = deps/k
	url = https://github.com/kframework/k
	ignore = untracked
[submodule "tests/wasm-tests"]
	path = tests/wasm-tests
	url = https://github.com/webassembly/spec
	ignore = untracked
[submodule "deps/sc-delegation-rs"]
	path = deps/sc-delegation-rs
	url = https://github.com/ElrondNetwork/sc-delegation-rs
