[submodule "deps/plugin"]
	path = kmultiversx/src/kmultiversx/kdist/plugin
	url = https://github.com/runtimeverification/blockchain-k-plugin.git
[submodule "deps/mx-sdk-rs"]
	path = deps/mx-sdk-rs
	url = https://github.com/multiversx/mx-sdk-rs.git
[submodule "deps/mx-exchange-sc"]
	path = deps/mx-exchange-sc
	url = https://github.com/multiversx/mx-exchange-sc
[submodule "deps/coindrip-protocol-sc"]
	path = deps/coindrip-protocol-sc
	url = https://github.com/CoinDrip-finance/coindrip-protocol-sc
