[submodule "deps/wasm-semantics"]
	path = deps/wasm-semantics
	url = https://github.com/kframework/wasm-semantics
	ignore = untracked
[submodule "deps/plugin"]
	path = deps/plugin
	url = https://github.com/runtimeverification/blockchain-k-plugin.git
[submodule "deps/mx-sdk-rs"]
	path = deps/mx-sdk-rs
	url = https://github.com/multiversx/mx-sdk-rs.git
[submodule "deps/mx-exchange-sc"]
	path = deps/mx-exchange-sc
	url = https://github.com/multiversx/mx-exchange-sc
[submodule "deps/coindrip-protocol-sc"]
	path = deps/coindrip-protocol-sc
	url = https://github.com/CoinDrip-finance/coindrip-protocol-sc
